<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel='stylesheet' href='/style.css'/>
</head>
<body>
<%- include('header', {name: "Error", tableName: undefined}); %>
<h1><%= message %></h1>
</body>
</html>
