<!DOCTYPE html>
<html>
<head>
    <title>Reset</title>
    <link rel='stylesheet' href='/style.css'/>
</head>
<body class="prose">
<%- include('header', {name: "Reset", tableName: undefined}); %>
<h1>Resetting Database</h1>
<h3>Redirecting in 5</h3>
<script>
    setTimeout(function () {
        window.location.href = '/';
    }, 5000);

    setInterval(function () {
        const h3 = document.querySelector('h3');
        const text = h3.innerText;
        const num = parseInt(text.split(' ')[2]);
        h3.innerText = 'Redirecting in ' + (num - 1);
    }, 1000);
</script>
</body>
</html>
